@charset "UTF-8";

:root {
    --hue: 192;
    --fontcolor: white;
    --fonttitlemain: black;
    --cor0: hsla(var(--hue), 85%, 66%, 0.275);
    --cor1: hsl(var(--hue), 88%, 51%);
    --cor2: hsl(var(--hue), 83%, 40%);
    --cor3: hsl(var(--hue), 44%, 31%);
    --cor4: hsl(var(--hue), 84%, 24%);
    --cor5: hsl(var(--hue), 0%, 92%);
    --bg-footer: var(--cor4);
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor0);
    /* color: var(--fontcolor); */
    width: 100%;
    height: 100%;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 93.922px;
    text-align: center;
}

header>#titulo {
    color: white;
    text-shadow: 2px 2px 0px #00000031;
    font-size: 3.4rem;
    padding-top: 5rem;
}

/*============================================NAVEGAÇÃO============================================*/
nav {
    background-color: var(--cor4);
    padding: 1rem;
    box-shadow: 0px 7px 7px #00000033;
}

nav>a {
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    transition-duration: .5s;
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 2rem;
}

.desativado {
    display: none;
}

/*==============================================MAIN==============================================*/

main {
    background-color: var(--cor5);
    margin: auto;
    margin-bottom: 1.5rem;
    min-width: 60vw;
    max-width: 80vw;
    height: 100%;
    text-align: center;
    box-shadow: 0px 7px 10px #0000007c;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}

main .wrapper img {
    width: 100%;
    height: 40rem;
}

main .wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

main .wrapper2 img{
    width: 25rem;
    height: 9rem;
}

main article {
    display: flex;
    flex-direction: column;
}

main article p{
    font-size: 1.8rem;
}

#contato {
    width: 25rem;
    margin-inline: auto;
}

/*=============================================FOOTER=============================================*/

footer {
    background-color: var(--bg-footer);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin: auto;
    bottom: 0;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

footer img {
    width: 6rem;
}

footer a:hover img {
    width: 7rem;
    padding-left: 0.8rem;
    transition: 0.5s;
    text-decoration: underline;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}