@charset "UTF-8";

:root {
    --cor0: #5ed4f246;
    --cor1: #16C5F0;
    --cor2: #119ABD;
    --cor3: #2C6370;
    --cor4: #0A5C70;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 80px;
    text-align: center;
}

header>h1 {
    color: black;
    text-shadow: 2px 2px 0px #00000038;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin: auto;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px #00000033;
}

nav>a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 20px;
}

main {
    color: black;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1250px;
    box-shadow: 0px 7px 10px #0000007c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    width: 300px;
    height: 60px;
}