@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --cor0: #5ed4f246;
    --cor1: #16C5F0;
    --cor2: #119ABD;
    --cor3: #2C6370;
    --cor4: #0A5C70;
    --cor5: #EBEBEB;
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;

    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
}

body {
    background-color: var(--cor0);
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 80px;
    text-align: center;
}

header>h1 {
    color: white;
    text-shadow: 2px 2px 0px #00000038;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin: auto;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px #00000033;
}

nav>a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 20px;
}

main {
    color: black;
    background-color: var(--cor5);
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0px 7px 10px #0000007c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#wp {
    width: 200px;
}

#descricao {
    background-color: white;
}